body{
  background-color: #407060;
}

.img-container{
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.header-app{
  display: flex;
  justify-content: center;
}

.input-container{
  display: flex;
  align-items: center;
  margin-left: 50px;
}